---
import { getCollection } from "astro:content"
import CardProject from "../components/ui/CardProject.astro"

const projects = await getCollection("projects", ({ data }) => {
  //console.log(data)
  return !data.inProgress
})
---

<section
  id="projects"
  class="flex flex-col items-center justify-center p-4 text-black dark:text-white"
>
  <h2 class="text-3xl md:text-5xl font-bold mb-8 text-center">Mis Proyectos</h2>
  <div class="grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3 lg:px-60">
    {
      projects.map((project) => (
        <CardProject
          img={project.data.img}
          url={project.data.link}
          title={project.data.title}
          description={project.data.description}
          alt={project.data.img_alt}
          tags={project.data.tags}
        />
      ))
    }
  </div>
</section>
