---
import { getCollection } from "astro:content"
import CardLab from "./ui/CardLab.astro"

const labs = await getCollection("labs", ({ data }) => {
  //console.log(data)
  return !data.inProgress
})
---

<section id="labs" class="flex flex-col items-center p-8 md:p-16 text-black dark:text-white">
  <h2 class="text-3xl md:text-5xl font-bold mb-8 text-center">
    Máquinas resueltas
  </h2>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-2">
    {
      labs.map((lab) => (
        <CardLab
          link={lab.data.link}
          name={lab.data.name}
          difficulty={lab.data.difficulty} 
          platform={lab.data.platform}
          vulnerabilities={lab.data.vulnerabilities}
        />
      ))
    }
  </div>
</section>
