---
import Tags from "../ui/Tags.astro"
import { Image } from "astro:assets"
import { resolverImage } from "../../utils/imageResolver"

interface Props {
  url?: string
  alt?: string
  title?: string
  description: string
  tags: string[]
  img: string
}

const {
  url = "#",
  alt = "Project image",
  description = "Project Description",
  title = "Project title",
  tags = ["Tags"],
  img,
} = Astro.props

const imageSrc = resolverImage(img)
---

<div class="w-full p-4 md:w-full lg:w-full text-black dark:text-white">
  <article
    data-testId="card"
    class="rounded-xl bg-slate-100 p-3 shadow-lg hover:animate-pop flex flex-col justify-between h-full"
  >
    <a href={url} aria-label="link to project" class="h-full flex flex-col">
      <div class="relative flex items-center justify-center m-3 overflow-hidden rounded-lg h-64">
        {
          imageSrc ? (
            <Image 
              src={imageSrc}
              alt={alt}
              format="png"
              width={400}
              height={400}
              loading="lazy"
              class="w-full h-full object-cover"
            />
          ) : (
            <div class="w-full h-full bg-gray-200 flex items-center justify-center">
              <span>Imagen no disponible</span>
            </div>
          )
        }
      </div>

      <div class="mt-1 p-2 flex flex-col flex-grow">
        <h3 class="text-xl lg:text-2xl font-bold mb-2 text-black">{title}</h3>
        <p class="text-sm text-black flex-grow">{description}</p>
        <Tags tags={tags} />
      </div>
    </a>
  </article>
</div>

