---
import Tags from "../ui/Tags.astro"

interface Props { 
  name?: string
  platform?: string
  vulnerabilities: string[]
  url: string
  difficulty: string
}

const {
  url = "",
  name = "Nombre de Máquina",
  platform = "Plataforma de laboratorios",
  difficulty = "Dificultad",
  vulnerabilities = ["Vulnerabities"],
} = Astro.props
---

<section class="w-full p-4 md:w-full lg:w-full">
  <article
    data-testId="card"
    class="rounded-xl bg-white dark:bg-gray-800 p-4 shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out"
  >
    <a
      href={url}
      aria-label="link to writeup"
      class="block"
    >
      <div
        class="relative flex items-center justify-center overflow-hidden rounded-lg mb-4"
      >
        <div
          class="absolute inset-0 bg-gradient-to-r from-blue-500 to-cyan-500 opacity-40"
        >
        </div>
        <p class="text-3xl font-bold text-white z-10">{difficulty}</p>
      </div>
      <div class="p-4">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">
          {name}
        </h3>
        <p class="text-gray-700 dark:text-gray-400 mb-2">{platform}</p>
        <Tags tags={vulnerabilities} />
      </div>
    </a>
  </article>
</section>
